
.icon-lock:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-traffic-cone:before { content: '\e804'; } /* '' */
.icon-attention:before { content: '\e805'; } /* '' */
.icon-download-alt:before { content: '\e806'; } /* '' */
.icon-location-circled:before { content: '\e807'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */