@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}


body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/* Menu */

  .logo{
    height: 100%;
    margin-left: 3%;
  }

  #title{
    font-size: 150%;
    margin-left: 8%;
  }

  .container-center{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

  }

/* FORM */

.form{
  position: relative;
  top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 15px #aaa;
  font-family: Poppins-Regular;
  max-width: 450px;
  padding: 20px;
}

.form .title{
  font-size: 20px;
}

input{
  /*TIRA MATERIALIZE*/
  border-bottom: none !important;
  font-size: 20px !important;

  background-color: #e6e6e6 !important;
  border-radius: 20px !important;
  padding-left: 10px !important;
}

input:focus{
  /*TIRA MATERIALIZE*/
  box-shadow: none !important;
}

.input-field{
  margin-top: 0 !important;
  margin-bottom: 8px !important;
}


/*BOX RELATOS*/
.textoRelato{
  font-size: 20px;
}

.alturaPersonalizada{
  min-height: 250px !important;
}

.inputComentario{
  height: 300px;
}