@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}


body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/* Menu */

  .logo{
    height: 100%;
    margin-left: 3%;
  }

  #title{
    font-size: 150%;
    margin-left: 8%;
  }

  .container-center{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

  }

/* FORM */

.form .title{
  font-size: 20px;
  text-align: center;
}

.input-field{
  margin-top: 0 !important;
  margin-bottom: 8px !important;

}

.form {
  width: 450px;
}
@media only screen and (max-width: 400px) {
  .form{
    width: 320px;
  }
}
/*BOX RELATOS*/

.containerRelato{
  display: grid;
  align-content: space-around;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 15px #aaa;
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  transition: all ease-in .1s;
}

.containerRelato:hover{
  transform: scale(1.02);
  cursor: pointer;
}

.textoRelato{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.modalRelato{
  max-height: 100% !important;
  height: 97% !important;
}

.imgRelato{
  max-width: 10px;
}

.inputComentario{
  height: 300px;
}

#textarea {
  resize: none;
  height: auto !important;
}